---
import { title, description } from '../../metadata.json';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ description } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title || title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="theme-color" content="#f5bc00" />
		<link rel="manifest" href="/manifest.json">

		<script>
			window.onload = () => 'serviceWorker' in navigator && navigator.serviceWorker.register('/sw.js').then((registration) => registration.update()).catch((err) => {});
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	body {
		margin: 0;
		font-family: "Atkinson Hyperlegible", sans-serif;
	}
</style>
